<li role="presentation" class="nav-item"><a href="#pentraits" aria-controls="misc" role="tab" data-bs-toggle="tab" class="nav-link">Character Traits</a></li>
<li role="presentation" class="nav-item"><a href="#systemgoals" aria-controls="misc" role="tab" data-bs-toggle="tab" class="nav-link">Character Goals</a></li>
<li role="presentation" class="nav-item"><a href="#special" aria-controls="misc" role="tab" data-bs-toggle="tab" class="nav-link">Special Settings</a></li>
