<li><a href="#" {{action (mut this.selectTraitCheck) true}} class="dropdown-item">Check Trait</a></li>

<TraitCheck @scene={{this.scene}} @destinationType="scene" @selectTraitCheck={{this.selectTraitCheck}} />
