  <div id="pentraits" class="tab-pane fade">
    <center>
       <div class="col col-md-9 col-sm-12">
          <div class="row pen-traits-box"> 
            <PenTraitsTable @title="Traits" @list={{char.custom.pen_traits}} @max={{20}} />
          </div>
       </div>
    </center>
 </div>
