{{#if char.custom.pen_traits}}
<li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#pentraits">Traits</a></li>
{{/if}}

{{#if char.custom.marque}}
<li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemmarque">Marque</a></li>
{{/if}}

{{#if char.custom.dowayne}}
<li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemdowayne">Courtesan House Management</a></li>
{{/if}}

{{#if char.custom.goals}}
<li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemgoals">Character Goals</a></li> 
{{/if}}

{{#if char.custom.connections}}
<li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#connections">Connections</a></li> 
{{/if}}
